@import "tailwindcss";
@import './textured-bg.css';

#root{
  background: #000;
}

/* index.css or App.css */
#root {
  height: 100%;
}



h1{
    font-family: 'Anton' , sans-serif;
}

h3 , p , h4 , h5 , h6 , li{
    font-family: 'Inter' , sans-serif;
}



/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
