@import "tailwindcss";
@import './textured-bg.css';

/* index.css or App.css */
html,
body,
#root {
  height: 100%;
}


*{
    font-family: 'Anton' , sans-serif;
}

h3 , p , h4 , h5 , h6 , li{
    font-family: 'Inter' , sans-serif;
}



/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
